version: '3.8'

services:
  # ============================================
  # TRAEFIK REVERSE PROXY
  # ============================================
  reverse-proxy:
    image: traefik:v3.2
    container_name: reverse-proxy
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--log.level=DEBUG"
      - "--accesslog=true"
    ports:
      - "80:80"       # HTTP
      - "8080:8080"   # Traefik Dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - energy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.jwt-verify.forwardauth.address=http://auth-service:8083/auth/validate"
      - "traefik.http.middlewares.jwt-verify.forwardauth.trustForwardHeader=true"
      - "traefik.http.middlewares.jwt-verify.forwardauth.authResponseHeaders=X-User-Id, X-User-Role, X-Username"

  # ============================================
  # BAZE DE DATE
  # ============================================
  user-db:
    image: postgres:16
    container_name: user-db
    ports: ["5430:5432"]
    environment:
      POSTGRES_DB: user_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Luci2004
    volumes: ["user-data:/var/lib/postgresql/data"]
    networks: ["energy-network"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d user_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  device-db:
    image: postgres:16
    container_name: device-db
    ports: ["5431:5432"]
    environment:
      POSTGRES_DB: device_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Luci2004
    volumes: ["device-data:/var/lib/postgresql/data"]
    networks: ["energy-network"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d device_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  auth-db:
    image: postgres:16
    container_name: auth-db
    ports: ["5432:5432"]
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Luci2004
    volumes: ["auth-data:/var/lib/postgresql/data"]
    networks: ["energy-network"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d auth_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  monitoring-db:
    image: postgres:16
    container_name: monitoring-db
    ports: ["5433:5432"]
    environment:
      POSTGRES_DB: monitoring_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Luci2004
    volumes: ["monitoring-data:/var/lib/postgresql/data"]
    networks: ["energy-network"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d monitoring_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ============================================
  # RABBITMQ MESSAGE BROKER
  # ============================================
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # AMQP protocol
      - "15672:15672" # Management UI (user: admin, pass: admin123)
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    networks:
      - energy-network
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5

  # ============================================
  # PGADMIN
  # ============================================
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    networks:
      - energy-network
    volumes:
      - pgadmin-data:/var/lib/pgadmin

  # ============================================
  # USER SERVICE
  # ============================================
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    depends_on:
      user-db: {condition: service_healthy}
      rabbitmq: {condition: service_healthy}
    ports:
       - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://user-db:5432/user_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: Luci2004
      SERVER_PORT: 8081
      AUTH_SERVICE_URL: http://auth-service:8083/auth/internal/register
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USERNAME: admin
      RABBITMQ_PASSWORD: admin123
    networks: ["energy-network"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.user-api.rule=PathPrefix(`/users`)"
      - "traefik.http.routers.user-api.entrypoints=web"
      - "traefik.http.routers.user-api.middlewares=jwt-verify@docker"
      - "traefik.http.routers.user-api.service=user-service"
      - "traefik.http.services.user-service.loadbalancer.server.port=8081"

  # ============================================
  # DEVICE SERVICE
  # ============================================
  device-service:
    build:
      context: ./device-service
      dockerfile: Dockerfile
    container_name: device-service
    depends_on:
      device-db: {condition: service_healthy}
      rabbitmq: {condition: service_healthy}
    ports:
      - "8082:8082"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://device-db:5432/device_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: Luci2004
      SERVER_PORT: 8082
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USERNAME: admin
      RABBITMQ_PASSWORD: admin123
    networks: ["energy-network"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.device-api-devices.rule=PathPrefix(`/devices`)"
      - "traefik.http.routers.device-api-devices.entrypoints=web"
      - "traefik.http.routers.device-api-devices.middlewares=jwt-verify@docker"
      - "traefik.http.routers.device-api-devices.service=device-service"
      - "traefik.http.routers.device-api-user-devices.rule=PathPrefix(`/user-devices`)"
      - "traefik.http.routers.device-api-user-devices.entrypoints=web"
      - "traefik.http.routers.device-api-user-devices.middlewares=jwt-verify@docker"
      - "traefik.http.routers.device-api-user-devices.service=device-service"
      - "traefik.http.services.device-service.loadbalancer.server.port=8082"

  # ============================================
  # AUTHENTICATION SERVICE
  # ============================================
  auth-service:
    build:
      context: ./authentication-service
      dockerfile: Dockerfile
    container_name: auth-service
    depends_on:
      auth-db: {condition: service_healthy}
    ports:
      - "8083:8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://auth-db:5432/auth_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: Luci2004
      SERVER_PORT: 8083
      JWT_SECRET: myVerySecretKeyForJWTTokenGenerationThatShouldBeLongEnough123456
    networks: ["energy-network"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.auth-api.rule=PathPrefix(`/auth`)"
      - "traefik.http.routers.auth-api.entrypoints=web"
      - "traefik.http.routers.auth-api.service=auth-service"
      - "traefik.http.services.auth-service.loadbalancer.server.port=8083"

  # ============================================
  # MONITORING SERVICE
  # ============================================
  monitoring-service:
    build:
      context: ./monitoring-service
      dockerfile: Dockerfile
    container_name: monitoring-service
    depends_on:
      monitoring-db: {condition: service_healthy}
      rabbitmq: {condition: service_healthy}
    ports:
      - "8084:8084"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://monitoring-db:5432/monitoring_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: Luci2004
      SERVER_PORT: 8084
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USERNAME: admin
      RABBITMQ_PASSWORD: admin123
    networks: ["energy-network"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.monitoring-api.rule=PathPrefix(`/monitoring`)"
      - "traefik.http.routers.monitoring-api.entrypoints=web"
      - "traefik.http.routers.monitoring-api.middlewares=jwt-verify@docker"
      - "traefik.http.routers.monitoring-api.service=monitoring-service"
      - "traefik.http.services.monitoring-service.loadbalancer.server.port=8084"

  # ============================================
  # FRONTEND SERVICE
  # ============================================
  frontend-service:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-service
    networks:
      - energy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend-service.rule=Host(`localhost`)"
      - "traefik.http.routers.frontend-service.entrypoints=web"
      - "traefik.http.routers.frontend-service.priority=1"
      - "traefik.http.services.frontend-service.loadbalancer.server.port=80"

  # ============================================
  # WEBSOCKET SERVICE (Assignment 3)
  # ============================================
  websocket-service:
    build:
      context: ./websocket-service
      dockerfile: Dockerfile
    container_name: websocket-service
    depends_on:
      rabbitmq: {condition: service_healthy}
    # Expunem portul și direct pentru teste locale dacă Traefik face figuri cu WS
    ports:
      - "8086:8086"
    environment:
      SERVER_PORT: 8086
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USERNAME: admin
      RABBITMQ_PASSWORD: admin123
      ALLOWED_ORIGINS: "http://localhost:3000,http://localhost"
    networks: ["energy-network"]
    labels:
      - "traefik.enable=true"
      # WebSocket routing - important să prindă /ws
      - "traefik.http.routers.websocket.rule=PathPrefix(`/ws`)"
      - "traefik.http.routers.websocket.entrypoints=web"
      - "traefik.http.routers.websocket.service=websocket-service"
      - "traefik.http.services.websocket-service.loadbalancer.server.port=8086"

  # ============================================
  # CUSTOMER SUPPORT SERVICE (Assignment 3)
  # ============================================
  customer-support-service:
    build:
      context: ./customer-support-service
      dockerfile: Dockerfile
    container_name: customer-support-service
    depends_on:
      rabbitmq: {condition: service_healthy}
    ports:
      - "8087:8087"
    environment:
      SERVER_PORT: 8087
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USERNAME: admin
      RABBITMQ_PASSWORD: admin123
      # Pune cheia ta reală aici dacă vrei AI
      GEMINI_API_KEY: "AIzaSyDb4AotdL2-Su7fvhppBEHSUpj9wFtQN3o"
      GEMINI_ENABLED: "true"
      FALLBACK_TO_AI: "true"
    networks: ["energy-network"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.support.rule=PathPrefix(`/support`)"
      - "traefik.http.routers.support.entrypoints=web"
      # Chat-ul este protejat - userii trebuie să fie logați
      - "traefik.http.routers.support.middlewares=jwt-verify@docker"
      - "traefik.http.routers.support.service=customer-support-service"
      - "traefik.http.services.customer-support-service.loadbalancer.server.port=8087"

networks:
  energy-network:
    driver: bridge

volumes:
  user-data:
  device-data:
  auth-data:
  monitoring-data:
  pgadmin-data: